@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu';
}

.container {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.footer {
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
    padding-top: 10px;
}

.footer a {
    text-decoration: none;
}

.table {
    border-spacing: 0;
}

.table thead {
    background-color: #DDDDDD;
}

.table th {
    padding: 0.6em 0;
}

.table td {
    text-align: center;
    padding-right: 5px;
}

.table-striped tr:nth-child(even) {
    background-color: #EEEEEE;
}
